$mod-portfolio-background: transparent;

.m-portfolio-item {
}

.m-portfolio-item--image {

    max-width: 100%;

    img {
        max-width: 472px;
        width: 100%;
        outline: 1px solid #ececec;
    }
}

.msn-full {
    .m-portfolio-item--image {
        img {
            max-width: 1540px;
        }
    }
}

.msn-twothird {
    .m-portfolio-item--image {
        img {
            max-width: 1540px;
        }
    }
}

.m-portfolio-item--summary {
    margin-top: $space * 0.8; /// 2;
}

.m-portfolio-item--hed,
.m-portfolio-item--description,
.m-portfolio-item--meta {
    text-align: center;
}

.m-portfolio-item--hed {
    font-size: rem-calc(15);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 0.1em;

    a {
        display: inline-block;
        position: relative;
        //&:before {
        //    display: block;
        //    position: absolute;
        //    width: 10px;
        //    height: 10px;
        //    font-size: 10px;
        //    top: 4px;
        //    right: -16px;
        //    content: "";
        //    border: 1px solid #50b3bd;
        //    color: #50b3bd;
        //    border-radius: 10px;
        //}

        &:hover {
            &:before {
                border: none;
                background-color: #e93832;
            }
        }

    }
}

.m-portfolio-item--description {
    color: #606060;
    font-size: 13px;
    font-weight: 400;
}

.m-portfolio-item {
    &.mm-featured {
        min-height: 400px;

        .m-portfolio-item--image {
            height: 380px;
            object-fit: cover;
        }

        .m-portfolio-item--hed {
            color: black;
            font-weight: 600;
            font-size: rem-calc(30);
        }

        .m-portfolio-item--description {
            font-size: rem-calc(16);
            font-weight: 400;
        }
        .m-portfolio-item--hed,
        .m-portfolio-item--description,
        .m-portfolio-item--meta {
            //text-align: left;
        }

    }
}
