$module-hero-bg: #f8f8f8;
//$module-hero-bg: #dfdfdf;

.m-hero {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    height: 40%;

    &.has-bg-color {
        background-color: $module-hero-bg;
    }

    &.mm-fullscreen {
        height: 100%;
        width: 100%;
    }

    &.mm-dark {
        background-color: #333333;
        color: whitesmoke;
    }
}

.m-hero--content {
    text-align: center;
    padding-top: $hero-spacing;
    padding-bottom: $hero-spacing;
}

.m-hero--hed {
    text-transform: uppercase;
    line-height: 1.1em;
    padding-bottom: 0.2em;
    font-size: rem-calc(40);
    display: inline-block;
}

.m-hero--subhed {
    margin-bottom: 0;
    line-height: 1.1em;
    text-align: center;
}

.m-hero--description {
    font-size: rem-calc(17);
    line-height: 1.4em;
    font-weight: 300;
    font-family: $body-font-family;
    color: #666666;
    margin: 0 auto;
    max-width: 620px;
    padding: 0 30px;
}

.m-hero {
    &.mm-welcome {

        .m-hero--content {
            padding-top: $space * 3;
            padding-bottom: 0;
            @include breakpoint(medium) {
                padding-top: $space * 5;
                padding-bottom: $space ;
            }
        }

        .m-hero--description {
            font-size: rem-calc(18);
            padding: 0 30px;

            @include breakpoint(large) {
                font-size: rem-calc(20);

            }
        }

        .m-hero--hed {
            padding: 0;
            margin-bottom: 0.1em;
            line-height: 1em;
            font-size: rem-calc(60);
            display: block;
            @include breakpoint(large) {
                font-size: rem-calc(80);
            }
        }

        .m-hero--subhed {
            font-size: rem-calc(24);
            //text-transform: uppercase;
            margin-bottom: 2* $space;

            line-height: 1em;
            @include breakpoint(large) {
                font-size: rem-calc(30);
            }

        }

    }
}
