.m-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    //margin-left: -12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: $space;
}

@mixin m-share-icon($color) {
    color: $color;
    &:hover {
        background-color: $color;
        }
}

.m-share--label {
    margin-right: $space;
}

.m-share--item {
    font-size: 20px;
    width: 40px;
    text-align: center;
    height: 36px;
    margin-right: 10px;
    line-height: 36px;
    transition: background 0.1s linear;

    &.mm-facebook { @include m-share-icon(#3b5998); }
    &.mm-twitter { @include m-share-icon(#0084b4); }

    &:hover {
        color: white;
    }

}

