
.m-card {

    .m-card--image {
        min-height: 300px;
        @include breakpoint(large) {
            min-height: 370px;
        }

        a {
            height: 100%;
            width: 100%;
            display: block;
        }
    }



    .m-card--container {
        @include flex-grid-row($width: 100%);
        @include flex-align(center);

        @include breakpoint(large) {
            @include flex-grid-row();
        }

    }

    .m-card--paneA {
        @include grid-col-collapse();
        width: 100%;
    }

    .m-card--paneB {
        padding-top: $space;
        padding-bottom: $space;
        @include grid-column(11);
    }

    @include breakpoint(large) {

        .m-card--paneA {
            @include grid-column(7);
        }

        .m-card--paneB {
            @include grid-column(5);
        }
    }

    &.mm-list {
        margin-bottom: $space *2;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &.mm-light {
        .m-card--hed {
            font-size: rem-calc(40);
        }
        .m-card--subhed {
            font-size: rem-calc(22);
            color: #888;
        }
    }

}

.m-card--image {
    //outline: 1px solid yellow;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;

}

.m-card--content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-card--hed {
    text-transform: uppercase;
    font-size: rem-calc(60);
    margin-bottom: 0;
    margin-left: -0.05em; // optical fix
    letter-spacing: -0.03em;
    line-height: 1em;

    a {
        color: #222;
        &:hover {
            color: #50b3bd;
        }
    }


    ~ .m-card--subhed {
        margin-top: 0.3em;
    }

}

.m-card--subhed {
    text-transform: uppercase;
    line-height: 1em;
    font-size: rem-calc(24);
    font-weight: 400;
    margin-bottom: 20px;
    color: #666666;
}

.m-card--summary {
    //padding-right: $space;
    color: #333333;
    //font-weight: 100;
}

.m-card--description {
}

.m-card--meta {
    a + a {
        margin-left: 16px;
    }

    //a {
    //    text-decoration: underline;
    //}

    a > .fa {
        font-size: 16px;
        margin-right: 6px;
    }
}
