// mod gallery



/*
{#<div class="row l-full m-gallery">
        {% for item in fields %}

            {% set itemClass = item.class %}
            {% if (item.bgColor) %}
                {% set itemStyle = 'background-color:' ~ item.bgColor ~';' %}
            {% endif %}

            <div class="column small-6 large-4">
                <div class="m-gallery-item  ">

                    <div class="m-gallery-item--image {{ itemClass }}" style="background-image: url({{ item.src }}); {{ itemStyle }}">
                    </div>

                    {% if(item.title) %}
                        <div class="m-gallery-item--content">
                            <div class="m-gallery-item--summary">
                                <h3 class="m-gallery-item--hed"><a>{{ item.title }}</a></h3>
                                {% if(item.description) %}
                                    <div class="m-gallery-item--description">{{ item.description }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>#}
 */
.m-gallery {
    > .column {
        margin-bottom: $space * 2;
    }

}
.m-gallery-item {
    height: 300px;
    position: relative;
    @include breakpoint(medium) {
        height: 380px;
    }
}

.m-gallery-item--image {
    background-color: #ececec;
    background-repeat: no-repeat;
    background-image: none;
    background-size: cover;
    background-position: center;

    //position: absolute;
    //top: 0;
    width: 100%;
    //bottom: 0;
    height: 80%;

    &.mm-contain {
        background-size: contain;
    }
}

.m-gallery-item--content {
    position: relative;
    margin: $space;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //align-items: flex-end;
    height: 100%;
}


.m-gallery-item--hed {
    //@include highlight(#ffffff);
    margin-bottom: 20px
}

.m-gallery-item--description {
}
