$mod-topbar-height: 48px;

.top-bar {

    border-bottom: 1px solid rgba(255,255,255,0.96);
    width: auto;
    height: $mod-topbar-height;
    //overflow: hidden;

    z-index: 10;
    transform: translateY(-$mod-topbar-height);
    transition: transform 0.2s ease;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;

    background-color: rgba(255,255,255,0.96);

    .backdropfilter & {
        backdrop-filter: blur(64px);
        background-color: transparent;
        border-bottom: none;
    }

    .menu {
        background-color: transparent;
        height: $mod-topbar-height;

        li {
            margin: 0 10px;
        }

        .menu-text {
            margin-left: 0;
            padding: 0;
        }

        a {
            //height: $mod-topbar-height;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            color: black;

            background-color: transparent;
            font-size: rem-calc(13);
            padding: 0.7em 1em;
        }

        li:not(.active):hover {
            a {
                background-color: #efefef;
            }
        }

        li.active {
            a {
                border: 1px solid black;
                color: black;
            }
        }

    }

    .menu,
    .menu-text {
        font-weight: 600;
        text-transform: uppercase;
        font-size: rem-calc(14);
    }

    &.is-sticky {
        position: fixed;

        left: 0;
        right: 0;
    }

    &.is-active {
        transform: translate(0);
    }

    .top-bar-right,
    .top-bar-left {
        padding: 0;
        flex: auto;
        height: 100%;
    }

    .top-bar-left {
        padding-left: 10px;
    }

    .top-bar-right {
        padding-right: 10px;
        flex-shrink: 100;

        li {
            margin: 0;
            &:last-child {
                margin-right: 0;
            }

            &:not(.active):hover {
                background-color: transparent;
                a {

                    color: get-color(primary);
                    background-color: transparent;
                }
            }
        }

        .menu {
            background-color: transparent;
            justify-content: flex-end;
            display: flex;
            flex-wrap: wrap;

            a {
                font-size: rem-calc(16);
                padding: 0.6em;

            }
        }

    }

}

