
@import "base/fonts";

// foundation
@import "foundation/settings";
@import "foundation/foundation";
@include foundation-custom();

$space: 20px;
$hero-spacing:$space * 2;
$page-spacing:$space * 2;

@import "base/typescript";
@import "base/helpers";
@import "base/spacing";
@import "base/typo";
@import "base/layouts";

@import "dev";



@include mediaDebug();
